:root {
--primary: #235;
--secondary: #39d;
--light: #fff;
--dark: #235;
--gray: #677;
--border: #dee;
}

*{margin:0;padding:0;border:0;outline:0;box-sizing:border-box;opacity:1;}
.t{transition:all .5s ease;}
a{text-decoration:none;color:unset;}
img{max-width:100%;}

.icon_after{position:relative;}
.icon_after::after , .icon{background: no-repeat 0 0/1100% url(https://upload.wikimedia.org/wikipedia/commons/b/b3/Aicons.svg);aspect-ratio:1;vertical-align:top;}
.icon_after::after{content:'';position:absolute;left:10%;top:10%;width:80%;}
.n{display:none !important;}
.l{display:inline-block;vertical-align:top;}
.o{height:0 !important;opacity:0 !important;overflow:clip;}
.z{overflow:hidden;}


.sidebar .widget,.w_box1{
background: white;
margin-bottom: 20px;
border: 1px solid #eee;
}



.w_l_download {
display:block;
    width:fit-content;
    margin:auto; 
    border:2px solid #222;
    color:#fff;
    padding:10px 50px; 
    font-weight:bold;
    border-radius:8px;
    text-decoration:none; 
    background:linear-gradient(110deg,#8d8 40%,#efe 50%,#8d8 60% );
    background-size:200%; 
    background-position:120% 0;
	transition:all 0.5s ease;
position:relative;
	
}
.w_l_download:hover{background-position:-20% 0;

}


.w_l_download::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  aspect-ratio: 1;
  right: 0;
  
}
